<nav-bar [otherLinks]="[
{'link': 'home', 'name': 'Home'},
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'scheduleService', 'name': 'Schedule Services'}
]"></nav-bar>

<form [formGroup]="form">
  <div class="form-group">
    Select a product to discount:
    <!-- <h3 *ngFor="let p of products">
      {{p['name']}}
    </h3> -->
    <select #selectProduct name="productSelect" id="productDiscountSelect">
        <option *ngFor="let p of this.products" value="{{p['id']}}">{{p['name']}}</option>
    </select>
    <br><br>
    Choose a discount percentage:
    <input #discount id="discountInput" type="number" name="quantity" min="1" max="100">
    <br><br>
    <input #createDiscount (click)="createSale(discount.value, selectProduct.value)" class="btn btn-success" type="button" value="Create Discount">

  </div>
</form> 