<div *ngIf="getType()==='manager'; else regularNavbar"><nav-bar [otherLinks]="[
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'bikes', 'name': 'Bikes'},
{'link': 'parts', 'name': 'Parts'},
{'link': 'addProduct', 'name': 'Add a Product'}
]"></nav-bar></div>
<ng-template #regularNavbar ><nav-bar #regularNavbar [otherLinks]="[
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'bikes', 'name': 'Bikes'},
{'link': 'parts', 'name': 'Parts'},
{'link': 'scheduleService', 'name': 'Schedule Services'}
]"></nav-bar></ng-template>
<h1 id="welcomeUser">Welcome {{ getType() }} {{ getCurrUser() }}</h1>
<div *ngIf="getTypeId() == 3">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="start">Start day </label>
            <input #start id="start" type="text">
        </div>
        <div class="form-group">
            <label for="end">End day </label>
            <input #end id="end" type="text">
        </div>
        <button type="button" class="btn" (click)="generateSchedule(start.value, end.value)" >Generate Schedule</button>
    </form>
</div>
<app-footer></app-footer>