<tr id="rowElements">
  <td id="nameElement">
    <div id="productName">{{product['name']}}</div>
    {{product['description']}}
  </td>
  <td id="stockElement">Stock: {{product['stock']}}</td>
  <td id="costElement">${{product['price']}}</td>
  <!-- <td id="saleElement">${{sales[product['id']]['discount']}}</td> -->
  <td>
      <select #purchaseQuantity class="form-control">
          <option>1</option>
          <option>2</option>	
          <option>3</option>	
          <option>4</option>
          <option>5</option>		
        </select> 
      <button 
      (click)="makePurchase(purchaseQuantity.value)"
      id="purchaseBtn" type="button" class="btn btn-success">Purchase</button>
  </td>
</tr>
