

<tr id="rowElements">
  <td>
    <img height="100" width="120" src="{{product['image']}}" alt="">
  </td>
  <td id="nameElement">
    <div id="productName">{{product['name']}}</div>
    {{product['description']}}
  </td>
  <td id="stockElement">Stock: {{product['stock']}}</td>
  <td id="costElement">${{product['price']}}</td>
  <!-- <td id="saleElement">${{sales[product['id']]['discount']}}</td> -->
  <td>
      <select #purchaseQuantity class="form-control">
          <option>1</option>
          <option>2</option>	
          <option>3</option>	
          <option>4</option>
          <option>5</option>		
        </select> 
      <button *ngIf="this.currUser.isCustomer();else employeeButton" 
        (click)="makePurchase(purchaseQuantity.value)"
        id="purchaseBtn" type="button" class="btn btn-success">Purchase
      </button>
      <ng-template #employeeButton >
        <button
        style="background-color:coral; border-color: coral"
        (click)="makePurchase(purchaseQuantity.value)"
        id="purchaseBtn" type="button" class="btn btn-success">Restock
        </button>
      </ng-template>
  </td>
</tr>
