<nav-bar [otherLinks]="[{'link': 'home', 'name': 'Home'},
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'bikes', 'name': 'Bikes'},
{'link': 'parts', 'name': 'Parts'},
{'link': 'scheduleService', 'name': 'Schedule Services'}]"></nav-bar>
  <div >
    <h1>Select a product to remove:</h1>
    <select id="view" name="view"
    class="form-controller"  #schedule required name="schedule" >
    <option *ngFor="let s of schedules" [value]="s['id']">
      {{s.id}}
    
  </option>
  </select>
<br /><br />
<!-- 
<input   type="button" value="Remove"
 (click)= "deleteProduct(product.value)"/><br /><br /> -->


  </div>
<app-footer></app-footer>