<nav id="topNavbar" class="navbar navbar-light bg-light">
  <a routerLink='' class="navbar-brand mb-0 h1">BikeShop</a>
  <a *ngFor="let link of otherLinks" class="navbar-brand mb-0" routerLink="/{{ link['link'] }}">{{ link['name'] }}</a>
  <a *ngIf="isCustomer()" class="navbar-brand mb-0" routerLink='/myServices'>My services</a>
  <a *ngIf="isManager()" class="navbar-brand mb-0" routerLink='/createEmployee'>Add an employee</a>
  <a *ngIf="isManager()" class="navbar-brand mb-0" routerLink='/removeProduct'>Remove a product</a>
  <a *ngIf="isEmployee()" class="navbar-brand mb-0" routerLink='/inputAvlibility'>Input avalibility</a>


</nav>
