  <nav-bar [otherLinks]="[{'stuff' : 'stuff'}]"></nav-bar>
  <div class="bg-img">
      <form [formGroup]="form" class="container">
        <h1>Login</h1>
    
        <label for="username"><b>Username</b></label>
        <input #username type="text" placeholder="Enter Username" name="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input required #password type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="button" (click)="login(username.value, password.value); $event.preventDefault()" class="btn">Login</button>
        <a routerLink="makeAcount">Make an acount</a>
      </form>
    </div>
    <app-footer></app-footer>