<nav-bar [otherLinks]="[]"></nav-bar>
<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="schedules">Schedules</label>
  <select formControlName="schedules" id="schedules">
    <option *ngFor="let schedule of schedules; let i = index" [value]="schedules[i].id">
      Start Date: {{schedules[i].startDate}}, End Date: {{schedules[i].endDate}}
    </option>
  </select>
  <button>submit</button>
</form>

<div class="shiftList">
  <table class="table" id="shiftListTable">
    <tbody>
      <app-personal-schedule-shift *ngFor="let shift of shifts" [shift]="shift"></app-personal-schedule-shift>
    </tbody>
  </table>
</div>
<app-footer></app-footer>