.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }

  .cancel-btn{
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 5px;
  }