 .bg-img{ 
    background-image: url("https://images.pexels.com/photos/2372972/pexels-photo-2372972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

     /* Control the height of the image */
     min-height: 380px;
     width: auto;
     height: 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     } 

 .drop{
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
   opacity: 0.9;

 }
.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }

  .cancel-btn{
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 5px;
  }
