<div class="bg-img">
<div >
    <h1>Select a schedule to view:</h1>
    <select id="view" name="view"
    class="form-controller"  #schedule required name="schedule" (change)="getShifts(schedule.value)">
    <option value="-1">Select Schedule</option>
    <option  *ngFor="let s of schedules" [value]="s['id']">
      ID: {{s.id}},
      StartDate: {{s.startDate}},
      EndDate: {{s.endDate}}
    
  </option>
  </select>

  <button *ngIf="id > 0" class="btn" (click)="openAddShift()">Add new shift</button>
  <div *ngIf="addNew && id > 0">
    <label for="employee">Employees</label>
    <select #employee id="employee">
      <option *ngFor="let e of employees" value="{{ e['id'] }}">{{ e['fname'] + ' ' + e['lname'] }}</option>
    </select>
    <br>
    <label for="day">Day of week</label>
    <select #day id="day">
      <option *ngFor="let d of days; let i = index" value="{{ (i + 1) }}">{{ d }}</option>
    </select>
    <br>
    <label for="startTime">Start time</label>
    <select #start id="startTime">
      <option *ngFor="let t of times" value="{{ t }}">{{ t }}</option>
    </select>
    <br>
    <label for="endTime">End time</label>
    <select #end id="endTime">
        <option *ngFor="let t of times" value="{{ t }}">{{ t }}</option>
      </select>
      <br>
    <button class="btn" (click)="addShift({'userId': employee.value, 'day':day.value, 'startTime': start.value, 'endTime': end.value})" type="button">Add shift</button>
    <button class="cancel-btn btn" (click)="cancel()">Cancel</button>
  </div>
<div class="shiftsList">
    <table class="table" id="scheduleListTable" >
      <!-- <thead>
        <tr>
         
          <th class="column1" scope="col">Monday </th>
          <th class="column2" scope="col">Tuesday</th>
          <th class="column3" scope="col">Wednesday</th>
          <th class="column4" scope="col">Thursday</th>
          <th class="column5" scope="col">Friday</th>
    
        </tr>
      </thead> -->
      <tbody>
        <tr> </tr>
        <td></td>
       <!--insert product-list-element with *ngFor here -->
       <app-schedule-list-element *ngFor = "let shift of shifts" [shift]="shift"></app-schedule-list-element>
       
      </tbody>
    </table>
  </div>
  </div>