<nav-bar [otherLinks]="[
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'bikes', 'name': 'Bikes'},
{'link': 'parts', 'name': 'Parts'},
{'link': 'scheduleService', 'name': 'Schedule Services'}
]"></nav-bar>
<form>
  <div class="form-group">
    <label for="description">What do you need service for</label>
    <textarea maxlength="1024" id="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="date">Date and time</label>
    <dp-date-picker class="form-control" id="date"></dp-date-picker>
    <input #time (change)="log(time.value)" type="time" id="appt" name="appt"
       min="9:00" max="18:00" required>  
  </div>
  <div class="form-group">
      <label for="bike">What bike are youi bringing in</label>
      <input maxlength="24" id="bike" class="form-control">
    </div>
  
</form>