<nav-bar [otherLinks]="[
{'link': 'home', 'name': 'Home'},
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'bikes', 'name': 'Bikes'},
{'link': 'parts', 'name': 'Parts'},
{'link': 'scheduleService', 'name': 'Schedule Services'}
]"></nav-bar>
<div class="bg-img">
    <form [formGroup]="form" class="container">
      <h1>Add a product</h1>
      <label for="name"><b>Name</b></label>
      <input class="form-cotrol" #name type="text" placeholder="Enter Name" name="name" required>
  
      <label for="upc"><b>UPC</b></label>
      <input required #upc type="text" placeholder="Enter UPC code" name="upc" required>

      <label for="number"><b>Price</b></label>
      <input required #price type="number" placeholder="10.00" minlength="10" maxlength="10" name="number">
    
      <label for="desc"><b>Description</b></label>
      <input required #desc class="name" type="text" placeholder="Example description" name="desc">
        
      <label for="stock"><b>Stock</b></label>
      <input required #stock class="name" type="number" placeholder="25" name="stock">

      <label for="image"><b>Image upload</b></label>
      <input required #image class="name" type="text" name="image">

      <label for="type"><b>Type of Product</b></label>
      <select (change)="log(type.value)" #type required name="type">
        <option selected> </option>
        <option value="1">Bike</option>
        <option value="2">Part</option>
        <option value="3">Other</option>
      </select>
      <!-- <h5>What you picked: {{ type.value }}</h5> -->

      <button type="button" 
      (click)="addProduct(name.value, upc.value, price.value, desc.value, stock.value, image.value, type.value); $event.preventDefault()" 
      class="btn">Create</button>
    </form>
  </div>
  <!-- <app-footer></app-footer> -->


