<nav-bar [otherLinks]="[{'link': 'home', 'name': 'Home'},
{'link': 'allProducts', 'name': 'All Products'},
{'link': 'scheduleService', 'name': 'Schedule Services'}]"></nav-bar>
  <div class = bg-img>
    <h1>Select a product to remove:</h1>
    <select id="remove" name="remove"
    class="form-controller"  #product required name="product" >
    <option *ngFor="let p of products" [value]="p['id']">
      {{p.name}}
    
  </option>
  </select>
<br /><br />

<input   type="button" value="Remove" class ="btn"
 (click)= "deleteProduct(product.value)"/><br /><br />


  </div>
<app-footer></app-footer>