<nav-bar [otherLinks]="[]"></nav-bar>
  <div class="productsList">
    <table class="table" id="productListTable">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- insert product-list-element with *ngFor here -->
        <app-product-list-element></app-product-list-element>
      </tbody>
    </table>
  </div>
<app-footer></app-footer>